body {
  background-color: #fff7e3;
  color: #1b9900;
  padding: 0;
  margin: 0;
  font-family: "Sono", monospace;
}

.navbar {
  justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar ul {
  background-color: #00081c;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  border: solid;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navbar ul li {
  border: solid;
  border-color: #1b9900;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar ul li img {
  display: flex;
  margin: 0 auto;
  padding: 5px;
}

.navbar ul li p {
  background-color: #1b9900;
  color: #00081c;
  border: solid;
  border-color: #1b9900;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 0;
  width: 100%;
}

.navbar ul li a {
  display: flex;
  padding: 5px;
  margin: 0;
  justify-content: center;
  width: 100%;
  border: solid;
  border-color: #1b9900;
}

.navbar ul li a:link {
  background-color: #00081c;
  color: #1b9900;
}

.navbar ul li a:visited {
  background-color: #00081c;
  color: #1b9900;
}

.navbar ul li a:hover {
  background-color: #1b9900;
  color: #00081c;
}

.about-block {
  display: flex;
  width: calc(720px + 50%);
  height: calc(720px + 50%);
  position: fixed;
  z-index: 0;
  align-self: center;
  vertical-align: middle;
}

.about-block ul {
  display: flex;
  position: relative;
  z-index: 0;
  align-self: center;
  vertical-align: middle;
  list-style-type: none;
  flex-direction: column;
  background-color: #00081c;
  color: #1b9900;
  border: solid;
  border-radius: 10px;
  border-color: #1b9900;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.about-block li {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  vertical-align: middle;
  flex-direction: column;
}

.about-block ul li h1 {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.about-block ul li p {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  vertical-align: middle;
  text-align: center;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact ul {
  list-style-type: none;
  display: flexbox;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #1b9900;
  border: solid;
  border-color: #1b9900;
  border-radius: 12px;
}

.contact ul li{
  list-style-type: none;
  display: flexbox;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.contact ul li a {
  background-color: #00081c;
  color: #1b9900;
  border: solid;
  border-color: #1b9900;
  font-size: large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.contact ul li h1 {
  background-color: #1b9900;
  color: #00081c;
  border: solid;
  border-color: #1b9900;
  font-size: xx-large;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

img[alt="Home - Title _ It says Company.Co and has to logo next to it."] {
  position: fixed;
  bottom: 60px;
  left: 0;
}

button:after {
  display: none !important;
}

#fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

button {
  background-color: #fff7e3;
  border: none;
}

.sono-MyFont {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}