body {
  background-color: #00081c;
  color: #1b9900;
  padding: 0;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul li img {
  display: block;
  margin: 0 auto;
}

.navbar ul li p {
  background-color:#1b9900;
  color: #00081c;
  border: solid;
  border-color: #1b9900;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar ul li a {
  border: solid;
  border-color: #1b9900;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar ul li a:link {
  background-color: #00081c;
  color:#1b9900;
}

.navbar ul li a:visited {
  background-color: #00081c;
  color:#1b9900;
}

.navbar ul li a:hover {
  background-color: #1b9900;
  color: #00081c;
}

button:after {
  display: none!important;
}

#fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

button {
  background-color: #00081c;
  border: none;
}